<div class="main">
<div class="bar">
    <div class="progress"aria-valuemax="0" aria-valuemax="100" style="width:30%">30%</div>
<div>
<h1 style="color:red"> Customer Information</h1>
<p style="color: red;">................................................................................................</p>
</div>
   <div>
    <form action="index.html">
        <label for="Occupation">Occupation:</label><br>
        <input  type="text" id="Occupation" name="Occupation"><br>
        <label for="Location">Location:</label><br>
        <input type="text" id="Location" name="Location"><br><br>
        <label for="Street">Street:</label><br>
        <input type="text" id="Street" name="Street"><br>
        
        <label for="Maritalstatus">Maritalstatus:</label><br>
        <input type="text" id="Maritalstatus" name="Maritalstatus"><br>
        <label for="Gender">Gender:</label><br>
        <input type="text" id="Gender" name="Gender"><br>
        
        
        <label for="age">Age:</label><br>
        <input type="text" id="age" name="age"><br><br>
        <label for="Phone">Phone:</label><br>
        <input type="Phone" id="Phone" name="Phone"><br><br>
        <label for="Alternate number">Alternate number:</label><br>
        <input type="Alternate number" id="Alternate number" name="Alternate number"><br><br>
        
    
        </form>
    </div>
    <div calss="button">
        <button mat-button color="warn" (click)="prev()">BACK</button>
        <button mat-button color="warn">PROCEED</button>
    </div>
    
</div>
