.main

{

    align-content: center;

    justify-content: center ;

    display: grid ;

    padding: 4px;

}
label,input{
    padding: 4px;
}
h1{
    text-align: center;
}
.progress {

    color:white;

    background-color: green;

    height: 20px;

    font-size: 10px;

    text-align: center;

    padding: 4px;



}



.bar{

    margin-top: 30px;

    background-color: whitesmoke;

    height: 20px;

}
button{
    color: white;background-color:red;
}
button[disabled],

button.disabled {

    color: white;

    background: grey !important;

    border: 1px solid #CCC;

}