
<div class="main"> 
 
    <div class="bar">
     
    <div class="progress" aria-valuemin="0" aria-valuemax="100" style ="width:30%">30%</div>
    <div>
    <h1 style="color:red"> Customer Details </h1>
    <p style="color: red;">...............................................................................................</p>
    </div>
       <div>
        <form #myform="ngForm">
            <label for="fname">First name:</label><br>
            <input ngModel required  type="text" id="fname" name="fname"><br>
            <label for="lname">Last name:</label><br>
            <input ngModel required  type="text" id="lname" name="lname"><br><br>
            <label for="mail">Mailing Address:</label><br>
            <input ngModel required type="text" id="mail" name="mail"><br><br>
            <input ngModel required type="text" id="mail" name="mail"><br><br>
            <label for="city">City:</label><br>
            <input ngModel required type="text" id="city" name="city"><br>
            <label for="state">State:</label><br>
            <input ngModel required type="text" id="state" name="state"><br>
            <label for="zip">Zip-Code:</label><br>
            <input ngModel required type="text" id="zip" name="zip"><br><br>
            <label for="Email-ID">Email-ID:</label><br>
            <input ngModel required type="text" id="Email-ID" name="Email-ID"><br><br>
            </form>
            <label for="DOB">DOB:</label>
            <br> <input type="date" [(ngModel)]="age" /><br>
            <br><button type="button" (click)="ageCalculator()">Age:</button>

            <br><input type="number" disabled placeholder="{{ showAge }}" />
            <br/><br/>
         
        
       
        <div class="button">
            <button mat-button color="warn">BACK</button>
            <button mat-button color="warn" (click)="next()" Type="submit" [disabled]="myform.form.invalid">CONTINUE </button>
        </div>
        
        

         
        
        
       