<div class="main"> 

<div class="bar">

<div class="progress" aria-valuemin="0" aria-valuemax="100" style ="width:30%">30%</div>
<div>
<h1 style="color:red"> Customer Details </h1>
<p style="color: red;">................................................................................................</p>
</div>
   <div>
    <form action="index.html">
        <label for="fname">First name:</label><br>
        <input  type="text" id="fname" name="fname"><br>
        <label for="lname">Last name:</label><br>
        <input type="text" id="lname" name="lname"><br><br>
        <label for="mail">Mailing Address:</label><br>
        <input type="text" id="mail" name="mail"><br><br>
        <input type="text" id="mail" name="mail"><br><br>
        
        <label for="city">City:</label><br>
        <input type="text" id="city" name="city"><br>
        <label for="state">State:</label><br>
        <input type="text" id="state" name="state"><br>
        <label for="zip">Zip-Code:</label><br>
        <input type="text" id="zip" name="zip"><br><br>
        <label for="dob">Date of Birth:</label><br>
        <input type="date" id="dob" name="dob"><br><br>
        <label for="email">Email ID:</label><br>
        <input type="email" id="email" name="email"><br><br>
        
    
        </form>
    </div>
    <div class="button">
        <button mat-button color="warn">BACK</button>
        <button mat-button color="warn" (click)="next()">CONTINUE</button>
    </div>
    
</div>
